In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn import linear_model

In [35]:
data = pd.read_csv('student-mat.csv', sep = ';', encoding = 'utf8')
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [36]:
data = data[['G1','G2','G3']]
predict = 'G3'

X = np.array(data.drop([predict],1))
Y  =np.array(data[predict])

In [37]:
X_train, X_test, Y_train, Y_test = sklearn.model_selection.train_test_split(X,Y, test_size = 0.33, random_state = 42)

In [38]:
regr = linear_model.LinearRegression() 
regr.fit(X_train,Y_train)

LinearRegression()

In [39]:
#accuracy of the model

accuracy = regr.score(X_test,Y_test)
print(accuracy)

0.8022435486054964

In [40]:
#coefficients of G1 and G2 respectively

regr.coef_

array([0.16671196, 0.98862477])

In [41]:
#intercept made by the line

regr.intercept_

-2.007161977788238

In [42]:
predictions = regr.predict(X_test)

In [43]:
#comparsion between predicted grade and original grade 

for i in range(len(X_test)):
    print(predictions[i], Y[i])

7.235531876886613 6
12.190302720106784 6
3.4360977655008007 10
8.224156650779598 15
8.39086860872097 10
12.845503578117023 15
18.955611153171553 11
6.413619060935 6
7.235531876886613 19
12.678791620175652 15
15.156177041785737 9
6.080195145052256 12
13.834128352010007 14
11.690166846282667 11
14.334264225834124 16
7.7356677507107285 14
6.246907102993628 14
10.701542072389682 10
15.48960095766848 5
8.557580566662342 10
14.16755226789275 15
16.14480181567872 15
15.156177041785737 16
4.7581464552765285 12
8.057444692838226 8
19.77752396912316 8
10.701542072389682 11
9.212781424672583 15
17.466850505454445 11
10.701542072389682 11
8.224156650779598 12
7.235531876886613 17
15.322888999727107 16
12.845503578117023 12
6.080195145052256 15
3.936233639324916 6
-1.3403141460227503 18
15.156177041785737 15
11.85687880422404 11
7.890732734896854 13
5.258282329100645 11
10.201406198565566 12
14.16755226789275 18
8.39086860872097 11
15.65631291560985 9
9.712917298496698 6
11.690166846282667 11
14.334264225834124 20
12.51207966223428 14
15.65631291560985 7
13.178927493999767 13
15.156177041785737 13
10.368118156506938 10
8.224156650779598 11
3.936233639324916 13
12.51207966223428 10
9.87962925643807 15
5.913483187110884 15
15.322888999727107 9
16.64493768950284 16
12.678791620175652 11
8.224156650779598 11
7.402243834827985 9
3.936233639324916 9
6.080195145052256 10
17.466850505454445 15
8.057444692838226 12
9.546205340555327 6
9.379493382613955 8
15.322888999727107 16
7.235531876886613 15
9.379493382613955 10
13.34563945194114 5
19.77752396912316 14
10.868254030331054 11
5.091570371159273 10
8.39086860872097 10
14.334264225834124 11
3.936233639324916 10
12.845503578117023 5
14.00084030995138 12
6.246907102993628 11
8.557580566662342 6
8.224156650779598 15
7.402243834827985 10
13.834128352010007 8
3.936233639324916 6
10.868254030331054 14
15.48960095766848 10
-0.6734663142572628 7
13.012215536058397 8
8.557580566662342 18
11.034965988272427 6
9.712917298496698 10
5.091570371159273 14
7.235531876886613 10
8.39086860872097 15
18.455475279347432 10
18.955611153171553 14
14.00084030995138 8
13.012215536058397 5
11.85687880422404 17
3.936233639324916 14
9.212781424672583 6
10.701542072389682 18
6.246907102993628 11
9.546205340555327 8
6.413619060935 18
8.724292524603714 13
8.557580566662342 16
5.091570371159273 19
3.936233639324916 10
10.53483011444831 13
3.7695216813835444 19
8.724292524603714 9
18.78889919523018 16
6.902107961003869 14
6.080195145052256 13
15.156177041785737 8
9.212781424672583 13
10.868254030331054 15
8.557580566662342 15
9.046069466731211 13
15.48960095766848 13
13.012215536058397 8
11.85687880422404 12
11.85687880422404 11
6.080195145052256 9
-1.1736021880813785 0
7.235531876886613 18
12.02359076216541 0

In [44]:
len(predictions)

131